@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(28, 234, 234) ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#owner {
  font-style: oblique;
  font-size: 14px;
  margin-bottom: 20px;
  
}